
.socialButton {
    width: 48px;
    height: 48px;
    display: inline-block;
}

.twitterButton {
    background: transparent url('../img/twitter-g.png') center top no-repeat;
    background-size: contain;
}

.twitterButton:hover {
    background-image: url("../img/twitter.png");
}

.linkedinButton {
    background: transparent url('../img/linkedin-g.png') center top no-repeat;
    background-size: contain;
}

.linkedinButton:hover {
    background-image: url("../img/linkedin.png");
}


.stackoverflowButton {
    background: transparent url('../img/stackoverflow-g.png') center top no-repeat;
    background-size: contain;
}

.stackoverflowButton:hover {
    background-image: url("../img/stackoverflow.png");
}

.githubButton {
    background: transparent url('../img/github-g.png') center top no-repeat;
    background-size: contain;
}

.githubButton:hover {
    background-image: url("../img/github.png");
}

.blogButton {
    background: transparent url('../img/blog-g.png') center top no-repeat;
    background-size: contain;
}

.blogButton:hover {
    background-image: url("../img/blog.png");
}

.cvButton {
    background: transparent url('../img/cv-g.png') center top no-repeat;
    background-size: contain;
}

.cvButton:hover {
    background-image: url("../img/cv.png");
}

.emailButton {
    background: transparent url('../img/email-g.png') center top no-repeat;
    background-size: contain;
}

.emailButton:hover {
    background-image: url("../img/email.png");
}
